.main
  .main-container
    .main-head--slim 会員登録完了
    .member-info-inner
      .member-info-content
        .member-info-content__text-center ありがとうございます。<br>会員登録が完了しました。
        = f.submit "メルカリを始める",class: "member-info-content__btn"
