%section.mypage-user-icon
  .mypage-user-icon__minibox
    %a{href: "",class: "mypage-user-icon__minibox__link"}
    = image_tag("/images/mypage/member_photo_noimage.png", class: "mypage-user-icon__minibox__icon-img")
    %h2.mypage-user-icon__minibox__name userのnickname
    .mypage-user-icon__minibox__number
      %p.mypage-user-icon__minibox__number__text
        評価
        %span.mypage-user-icon__minibox__number__text__num 0
      %p.mypage-user-icon__minibox__number__text.mypage-user-icon__minibox__number__text--right
        出品数
        %span.mypage-user-icon__minibox__number__text__num 0
