.logout-header
  = render "products/product_header"
  - breadcrumb :logout
  = render "layouts/bread_with_gretel"
.logout-wrapper.clreafix
  .logout-main
    .logout-main__btn
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn-default logout-main__btn--red"
  .logout-side
    = render 'users/mypage-nav'
