.logout-header
  = render "products/product_header"

.logout-wrapper.clreafix
  .logout-main
    = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn-default logout-btn"
  .logout-side
    = render 'users/mypage-nav'
