.profile-header
  = render "products/product_header"

.profile-wrapper.clearfix
  .profile-main
    %section.profile-content
    %h2.profile-content__header
      プロフィール

  .profile-side
    = render "users/mypage-nav"
