.product__detail__container{
  margin: 40px auto 20px;
  width: 700px;
  &__main{
    padding: 24px 40px 40px;
    background-color: white;
    &__imgtable{
      @include clearfix();
      width:620px;
      margin-top:16px;
      &__left{
        width:300px;
        height:375px;
        float:left;
        &__top{
          width:300px;
          height:300px;
          &__img{
          position: relative;
          img{
            object-fit: cover;
            width:300px;
            height:300px;
            }
          }
        }
        &__bottom{
          @include clearfix();
          &__dot{
            width:75px;
            height:75px;
            float:left;
            img{
              object-fit: cover;
              width:75px;
              height:75px;
            }
          }
        }
      }
      &__category_children, &__category_grandson{
        float:left;
        width:100%;
        i,p{
        font-size:14px;
        color: $color-bluelink;
        text-decoration: none;
        border-bottom:solid 1px white;
        }
        i{
          float:left;
          vertical-align: middle;
          line-height:14px;
        }
        a{
          line-height:14px;
          font-size:14px;
          &:hover{
          color: $color-bluelink-hover;
          border-bottom:solid 1px $color-bluelink-hover;
        }
        }

      }
      table{
        width:300px;
        float:right;
        th{
          background-color:rgb(250,250,250);
          vertical-align: center;
          padding:8px;
          width:99px;
          border: solid 1px $background-gray;
        }
        td{
          vertical-align: center;
          padding:8px;
          width:182px;
          border: solid 1px $background-gray;
          @include clearfix();
          a{
            font-size:14px;
            font-weight:bold;
            color: $color-bluelink;
            text-decoration: none;
            border-bottom:solid 1px white;
            float:left;
            &:hover{
            color: $color-bluelink-hover;
            border-bottom:solid 1px $color-bluelink-hover;
            }
          }
        }
      }
    }
    &__price{
      width:620px;
      margin-top:24px;
      text-align: center;
      &__total{
        font-size:63px;
        margin-right:16px;
      }
      span{
      }
    }
    &__buy{
      a{
        line-height: 60px;
        font-size:24px;
        vertical-align: middle;
        width:604px;
        height:60px;
        margin:16px 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        text-align: center;
        display: inline-block;
      }
      &__completed{
        vertical-align: middle;
        font-size:24px;
        line-height: 60px;
        vertical-align: middle;
        width:604px;
        height:60px;
        margin:16px 0;
        background-color: rgb(170,170,170);;
        border: 1px solid rgb(170,170,170);
        color: #fff;
        text-align: center;
        display: block;
      }
    }
    &__description{
      width:620px;
      padding: 32px 0 0;
      line-height: 1.5;
      font-size: 18px;
      p{
        white-space: pre-wrap;
        font-size: 18px;
      }
    }
    &__buttons{
      @include clearfix();
      height:33px;
      width:620px;
      margin-top:16px;
      &__left{
      @include clearfix();
      float:left;
        button{
          outline: none;
          span{
          font:400 14px system-ui;
          }
        }
        a{
          i{
            display: inline-block;
          }
          span{
          font:400 14px system-ui;
          display: inline-block;
          }
        }
      }
      &__right{
        float:right;
        line-height: 33px;
        a{
          line-height: 33px;
          vertical-align: middle;
          font-size:14px;
          color: $color-bluelink;
          text-decoration: none;
          &:hover{
            color: $color-bluelink-hover;
          }
        }
      }
    }
  }
  // コメント実装の際ここ利用
  // &__comment{

  // }
  ul{

    a{
      line-height: 33px;
      vertical-align: middle;
      font-size:14px;
      color: $color-bluelink;
      text-decoration: none;
      &:hover{
        color: $color-bluelink-hover;
      }
    }
  }
  &__prenext{
    @include clearfix();
    margin-top:24px;
    &__pre{
      float:left;
    }
    &__next{
      float:right;
    }
  }
  &__sns{
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    background-color: white;
    height: 82px;
    text-align: center;
    &__boxs{
      height:52px;
      margin-top:30px;
    }
    ul{
      text-align: center;
      display: inline-block;
      li{
        margin:0 8px 8px 0;
        float:left;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        img{
          width:44px;
          height:44px;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
  }
  &__sellrelevant{
    a.product__category__name{
      font-size:22px;
      font-weight:bold;
      color: $color-bluelink;
      text-decoration: none;
      margin:0 0 5px 0;
      text-align:center;
      display:inline-block;
      border:solid 0.1em $background-gray;
      &:hover{
        color: $color-bluelink-hover;
        border-bottom:solid 0.1em $color-bluelink-hover;
      }
    }
  }
  &__categoryrelevant{
    a.product__category__name{
      font-size:22px;
      font-weight:bold;
      color: $color-bluelink;
      text-decoration: none;
      margin:0 0 10px 0;
      text-align:center;
      display:inline-block;
      border:solid 1px $background-gray;
      &:hover{
        color: $color-bluelink-hover;
        border-bottom:solid 1px $color-bluelink-hover;
      }
    }
  }
}
