.have__image--0{
  width:620px;
  border: 1px dashed #ccc;
  height:160px;
}
.have__image--1{
  width:430px;
  border: 1px dashed #ccc;
 height:160px;
}
.have__image--2{
  width:300px;
  border: 1px dashed #ccc;
 height:160px;
}
.have__image--3{
  width:140px;
  border: 1px dashed #ccc;
 height:160px;
}
.have__image--4{
  display:none;
  border:none;
}

.form-suggest-list {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 280px;

    width:100%;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
    -webkit-overflow-scrolling: touch;
}
.product__sell{
  background-color:$background-gray;
  &__header{
    width:100%;
    height:128px;
    &__logo{
      margin:40px auto 0;
      width:185px;
      height:49px;
      img{
        width:185px;
        height:49px;
      }
    }
  }
  &__form{
     width: 700px;
     margin: 0 auto;
     background-color: white;
     &__title{
       h1{
         padding: 32px 16px;
         font-size: 22px;
         line-height: 1.5;
         text-align: center;
         border-bottom: solid 1px $background-gray;
       }
     }
     &__images{
       width:540px;
       height:223px;
       margin:40px;
       &__label{
       p{
           margin: 8px 0 0;
           line-height: 1.5;
         }
       }
       &__container{
         width: 620px;
         height:160px;
         margin-top:16px;
        @include clearfix();
         &__preview{
           ul{
            @include clearfix();
            float:left;
            li{
              float:left;
              background-color:$background-gray;
              margin-right:16px;
              img{
                height:120px;
                width:120px;
                object-fit: contain;
              }
            }
           }
           &__box{
              @include clearfix();
                height:43px;
                width:120px;
                background-color:$background-gray;
             &__edit{
              float:left;
              width:50%;
              display: inline-block;
              text-align: center;
              line-height: 43px;
              vertical-align: middle;
             }
             &__delete{
              float:right;
              border-left: solid 1px rgb(238,238,238);
              width:calc(50% - 1px);
              line-height: 43px;
              vertical-align: middle;
              display: inline-block;
              text-align: center;
             }
             a{
                line-height: 43px;
                vertical-align: middle;
                font-size:14px;
                color: $color-bluelink;
                text-decoration: none;
              &:hover{
                color: $color-bluelink-hover;
                 cursor: pointer;
              }

             }
           }
         }
         &__guide{
          text-align: center;
          min-height: 162px;
          width:auto;
          background: #f5f5f5;
          font-size: 0;
          text-align: center;
          cursor: pointer;
          float:right;
          display: inline-block;

          h5{
            margin-top:50px;
          }
          input{
            display: none;
          }
         }
       }
     }
     &__sellcontent{
       border-top:solid 1px $background-gray;
       width:100%;
       &__name{
       width:576px;
       margin:40px;
         #product_name{
          width: 100%;
          margin: 8px 0 0;
         }
       }
       &__explain{
         width:576px;
         margin:40px;
         #product_explain{
          width: 100%;
          margin: 8px 0 0;
          padding-right:20px;
         }
       }
       &__detail{
         width:604px;
         margin:40px 0;
         padding:40px 40px 40px 40px;
         border-top:solid 1px $background-gray;
         border-bottom:solid 1px $background-gray;
         @include clearfix();
         h5{
          color: #888;
          font-size: 14px;
          float:left;
         }
         &__dropdown{
          float:left;
          float: right;
          width: 340px;
          margin: 0;
          select{
            width:100%;
            background-color:white;
            margin-top:8px;
          }
          &__category{
            &__default{

            }
            &__child{

            }
            &__size{
              margin-top:10px;
            }
            &__brand{
              margin-top:20px;
              width:100%;
              #product_brand_id{
                width:calc(100% - 32px);
              }
            }
            &__brand__list{
                position: relative;
              li{
                cursor: pointer;
                padding: 16px 8px;
                font-size: 14px;
                &:hover{
                  background-color: $color-bluelink;
                  color:white;
                }
              }
            }
          }
          &__condition{
            margin-top:8px;
          }
         }
       }
       &__delivery{
         width:604px;
         margin:40px 0;
         padding:40px 40px 40px 40px;
         border-bottom:solid 1px $background-gray;
         @include clearfix();
         h5{
          color: #888;
          font-size: 14px;
          float:left;
         }
         &__dropdown{
            float:right;
            float: right;
            width: 340px;
            margin: 0;
            select{
              width:100%;
              background-color:white;
              margin-top:8px;
            }
           &__shippingfee{
           }
           &__shippingmethod{
            margin-top:8px;
           }
           &__shippingarea{
             margin-top:8px;
           }
           &__shippingdate{
             margin-top:8px;
           }
         }
       }
       &__price{
         width:604px;
         margin:40px 0;
         padding:40px 40px 40px 40px;
         border-bottom:solid 1px $background-gray;
         @include clearfix();
         h5{
          color: #888;
          font-size: 14px;
          float:left;
         }
         &__form{
            float:left;
            float: right;
            width: 340px;
            margin: 0;
            &__right{
                float: right;
                width: 50%;
                margin: 0;
                font-size:0.7em;
                font-color:black;
                input{
                  text-align: right;
                }
            }
            &__commitionleft{
              width:50%;
              float:left;
              line-height:48px;
              vertical-align: middle;
              }
            &__commitionright{
              float:right;
              display:inline-block;
              vertical-align: middle;
              line-height:48px;
            }
            &__totalleft{
              width:50%;
              float:left;
              line-height:48px;
              vertical-align: middle;
              font-weight: bold;
              font-size:16px;
            }
            &__totalright{
              float:right;
              display:inline-block;
              vertical-align: middle;
              line-height:48px;
              font-weight: bold;
              font-size:34px;
             }
            }
            ul{
              li{
                height:48px;
                padding-bottom:24px;
                margin-top:8px;
                label{
                  width:50%;
                  float:left;
                  line-height:48px;
                  vertical-align: middle;
                }
                p{
                  float:left;
                  display:inline-block;
                  vertical-align: middle;
                  line-height:48px;
                }
                input{
                  width:70%;
                  float:right;
                }
              }
            }
          }
        &__submit{
         width:604px;
         margin:40px 0;
         padding:40px 40px 40px 40px;
          h5{
          }
          &__done{
            margin:40px 0;
            input{
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            }
          }
          &__back{
            width: 45%;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
          }
        }
     }
  }
  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    &__nav{
      ul{
        width:100%;
         @include clearfix();
        li{
          width:33%;
          float:left;
          text-align: center;
          a{
          font-size:12px;
          }
          a:hover{
            color: rgba(0,0,0,0.5);
            border-bottom: solid 1px rgba(0,0,0,0.5);
          }
          }
        }
      }
    &__copyright{
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
      a{
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
        img#gray_logo-footer{
          width: 80px;
          height: 65px;
        }
      }
      p{
        font-size:8px;
      }
    }
  }
}
