a{
  text-decoration: none;
}
a:visited {
  color : black;
}
html, body {
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-color:rgb(245, 245, 245);
}
h1,h2, h3, h4, h5, h6, p,a,div{
  font-size: 14px;
  color: black;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  margin: 0;
  padding: 0;
  word-wrap:break-word;
}
*, ::before, ::after {
    box-sizing: inherit;
}
a.sell__botton{
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
}
.sell__botton__text{
   margin: 25px 0 0;
   color:white;
   font-size:22px;
}
span#sell__botton{
  font-size:65px;
  margin:8px 0 0;
}
.product__wrapper{
  background-color: white;
  width: 100%;
}
a#sign_in_button{
  height:34px;
  padding:0 10px;
  border-radius: 7px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  text-align: center;
  &:hover{
  background: #ea352d;
  color: #fff;
  }
}
a#sign_up_button{
  height:34px;
  padding:0 10px;
  border-radius: 7px;
  border: 1px solid $color-bluelink;
  color: $color-bluelink;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;
  &:hover{
  border: 1px solid $color-bluelink;
  color: white;
  background-color:  $color-bluelink;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  }
}
.product{
  &__header{
    background-color:white;
    width:70%;
    height:90px;
    margin:0 auto;
    z-index: 1;
    &__upper{
      @include clearfix();
      padding-top:8px;
      position: relative;
      #logo{
        width:134px;
        height:36px;
        float:left;
      }
      input#keyword{
      width: calc(100% - (134px + 16px));
      line-height: 36px;
      border-radius:5px;
      background-color:rgb(250,250,250);
      border: 1px solid rgb(204,204,204);
      float:right;
      vertical-align: center;
      }
      input::-webkit-input-placeholder{
        margin-right:5px;
        padding:5px;
      }
      label.search-label{
        position:absolute;
        top:4px;
        right:15px;
        font-size:30px;
      }
      span.search{
          margin: 0 3px;
          font-size:16px
      }
      #search-icon{
        background-color:rgba(0,0,0,0);
        border:none;
        width:20px;
        height:20px;
        outline:none;
      }
    }
    &__navbar{
      text-decoration: none;
      margin:5px;
      height:36px;
      @include clearfix();
      &__left{
        ul{
          float:left;
          @include clearfix();
          li{
            float:left;
            margin-right:10px;
            a{
              float:left;
              margin:0 3px;
              vertical-align:middle;
              display:inline-block;
              line-height:36px;
              font-color:#333;
            }
            a:hover{
             color: $color-bluelink;
             font-color: $color-bluelink;
            }
          }
        }
      }
      &__right{
        ul{
          float:right;
          display:inline-block;
          @include clearfix();
          li{
            float:left;
            margin-right:10px;
            a,span.nav,p{
              float:left;
              margin:0 3px;
              vertical-align:middle;
              display:inline-block;
              line-height:36px;
              font-color:#333;
            }
            a:hover{
             color: $color-bluelink;
             font-color: $color-bluelink;
            }
            img{
              float:left;
              margin:0 7px;
              vertical-align:middle;
              display:inline-block;
              line-height:46px;
              border-radius: 50%;
              width:32px;
              height:32px;

            }
            span.nav{
              font-size:18px;
            }
          }
        }
      }
    }
  }
  &__slider{
    background-color:rgb(244,244,244);
    height:auto;
    width:100%;
    overflow-x: hidden;
      #slider{
        height:auto;
        img{
          width:100%;
        }
      }
    }
  &__container{
    background-color:rgb(245,245,245);
    height:auto;
    width:100%;
    padding-top:20px 0;
    text-align:center;
    h1{
      font-size:28px;
      font-weight: bold;
    }
    a.product__category__name{
      font-size:22px;
      font-weight:bold;
      color: #0099e8;
      text-decoration: none;
      margin:26px;
      text-align:center;
      display:inline-block;
      border:solid 0.1em $background-gray;
      }
    a.product__category__name:hover{
      color:$color-bluelink-hover;
      border-bottom:solid 0.1em $color-bluelink-hover;
    }
    .pickedup{
      padding:40px 0;
    }
    &__category{
      width:940px;
      margin:auto;
      &__list{
      @include clearfix();
      text-align:center;
      display: block;
        &__content{
          background-color: white;
          height:330px;
          width:213px;
          display:inline-block;
          margin:0 20px 20px 0;
          float:left;
          &__img{
            position: relative;
            img{
              width:213px;
              height:220px;
              object-fit: cover;
            }
          }
          &__body{
            width:181px;
            height:78px;
            padding:16px;
            &__name{
            width:181px;
            height:48px;
            text-align: left;
              %h3{
                font-size:16px;
              }
            }
            &__num{
            @include clearfix();
            width:181px;
            height:30px;
              &__price{
              font-size:20px;
              font-weight: 600;
              color: #333;
              float:left;
              }
              &__fav{
              @include clearfix();
              float:right;
              vertical-align: middle;
              display: inline-block;
              line-height:20px;
                i{
                  float:left;
                  vertical-align: middle;
                  display: inline-block;
                  line-height:20px;
                }
                span{
                  float:left;
                  margin-left:10px;
                  vertical-align: middle;
                  display: inline-block;
                  line-height:20px;
                }
              }
              p.product_tax{
                font-size:10px;
                float:left;
                text-align: left;
                display: block;
                clear: both;
              }
            }
          }
        }
      }
      &__alllink{
        padding:0 0 30px 0;
        font-size:14px;
        text-align: right;
        a{
        color: $color-bluelink;
        text-decoration: none;
        text-align: right;
        }
        a:hover{
          color: $color-bluelink-hover;
          border-bottom:solid 0.1em $color-bluelink-hover;
        }
      }
    }
  }
  &__footer{
    background-color:#212121;
    z-index: 1;
    &__app{
    background-image:image-url("products/app_image.png");
    height:260px;
    width:100%;
    background-repeat:repeat-x;
    background-position: center;
    }
    &__sitemap{
    @include clearfix();
    background-color:#212121;;
    height:402px;
    width:1020px;
    margin:auto;
    padding-top:60px;
      &__cell{
        float:left;
        width:25%;
        h2{
          line-height: 1.4;
          font-size: 16px;
          text-align:center;
          color: #fff;
        }
        a{
          color: #fff;
        }
        a:hover{
          color: rgba(255,255,255,0.5);
          border-bottom:solid 1px rgba(255,255,255,0.5);
        }
        ul{
          text-align:center;
          li{
            margin: 24px 0 0;
            font:66.66667% sans-serif;
          }
        }
      }
    }
    &__copyright{
      text-align:center;
       padding-bottom:60px;
      p{
        color: #fff;
      }
    }
  }
}
