.registrations-footer
  .nav
    %ul
      %li
        = link_to "プライバシーポリシー","#"
      %li
        = link_to "メルカリ利用規約","#"
      %li
        = link_to "特定商取引に関する表記","#"
  =link_to root_path, class: "registrations-footer__logo" do
    = image_tag "products/logo-gray.svg"
  %p
    %small © 2019 Mercari
