.registrations{
  &__wrapper{
    padding: 0 0 220px;
    &__step-head{
      display: none;
    }
    &__step1{
      display: none;
    }
    &__step2{
      display: none;
    }
    &__step3{
      display: none;
    }
    &__step4{
      display: none;
    }
    &__step5{
      display: none;
    }
  }
}
