html{
  body{
    background: #f5f5f5;
    font-size:14px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
}

.mypage{
  &-wrapper{
    @include clearfix();
    background:#f5f5f5;
    width: 1020px;
    margin:40px auto;
    .mypage-main{
      float: right;
      width: 700px;
    }
    .mypage-side{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
    }
  }
}
