@import "./reset";
@import "./variable";
// 色変数の設定
@import "./colors";
@import "modules/products";
@import "font-awesome";
@import 'font-awesome-sprockets';

// product_sellについてのscss
@import "modules/product_sell";
// sharescss
@import "./share";

//  product_detailについてのscss
@import "modules/product_detail";

/*マイページ関連*/
@import "./mypage";
@import "./mypage-nav";
@import "./mypage-user-icon";
@import "./mypage-tab-container-notification-todo";
@import "./mypage-tab-container-product";

@import "./identification";
@import "./profile";
@import './mypage-logout';
@import "./notifications";
@import "./card";

@import "components/registrations-new";
@import "components/registrations-header";
@import "components/registrations-main";
@import "components/registrations-footer";

@import "components/login";

// マイページ商品一覧画面関連
@import 'modules/mypage/listings';
@import 'modules/mypage/listings_show';

// クレジットカード登録画面
@import './paycreate';
// 購入確認ページ
@import "./buys";

// パンくずリスト
@import "./bread_with_gretel";
