.flash{
  height:30px;
  width:100%;
  font-size:16px;
  text-align: center;
  color: white;
  &__notice{
  color:#38AEF0;
  }
  &__alert{
   color:red;
  }
}
.product_tax{
  font-size:10px;
}
.shipping_fee{
  display: inline-block;
  font-size: 16px;
}
.button_like{
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
}
.irrelevant_product{
  display: inline-block;
  color: #333;
  background: #f5f5f5;
  padding: 8px 16px;
  border-radius: 40px;
  display: inline-block;
}
.sns_box{
  width:44px;
  height:44px;
}
.item-name{
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}
.form__label{
  font-weight: bold;
}
.form__require{
  padding:2px 4px;
  margin-right:8px;
  background-color:red;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form__arbitary{
  padding:2px 4px;
  margin-right:8px;
  background-color:#ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form__blue{
  padding:2px 4px;
  margin-right:8px;
  background-color:$color-bluelink;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  vertical-align: top;
}
.input__default {
    height: 28px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
}
.textarea-default {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
}
.select-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.border__top{
  border-top:solid 1px #ccc;
}
.btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
}
.triangle{
  position:absolute;
  z-index: 10;
  left:0;
  top:0;
  &__item{
  /*2色パターン*/
  border-top: 40px solid red;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid red;
  width: 0px;
  height: 0px;
  position:absolute;
  z-index: 10;
  }
  p{
    left:0;
    top:15px;
    color: white;
    font-weight: bold;
    width:50px;
    position:absolute;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 10;
  }

}
.triangle--red{
  .triangle__item{
  border-left: 40px solid red;
  border-top: 40px solid red;
  }
  p{
    left:0;
    top:17px;
    color: white;
    font-weight: bold;
    font-size:18px;
    width:50px;
  }
}
.triangle--gray{
  .triangle__item{
  border-left: 41px solid gray;
  border-top: 41px solid gray;
  }
  p{
    left:0;
    top:20px;
    color: white;
    font-weight: bold;
    font-size:10px;
    width:50px;
  }
}


